
<h1 class=" text-center">Register to this Cool Site!</h1> 
<div class="row">
    <div class="col-6">
        <h1>Registration</h1>
        <partial name="Registration"/>
    </div>

    <div class="col-6">
        <h1>LogIn</h1>
        <partial name="Login"/>
    </div>
</div>
