
<div class="row">
    <h1>@Model.WedderOne and @Model.WedderTwo's Wedding!</h1>
    <a class="col-3 text-center" asp-action="Dashboard" asp-controller="Home">Dashboard</a>
    <a class="col-3 text-right" asp-action="LogOut">Log Out</a>
</div>
<h2>Date: @Model.Date</h2>
<h2>Guests:</h2>
